body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.title {
  font-weight: 100;
  font-size: 32px;
  text-align: center;
}

.small-text {
  font-size: 12px;
}

.grey-text {
  color: #4d4d4c;
}

.blue {
  color: #35549a;
}

.flex-center {
  display: flex;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.half-width {
  max-width: 50%;
}

.third-width {
  max-width: 50%;
}

.heading {
  justify-content: space-around;
  background-color: #d1e0e0;
  padding: 32px;
}

.divider {
  border-left: 2px solid #4d4d4c;
  height: 100px;
}

.section-header {
  border-bottom: 1px solid #35549a;
}
