body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 > li {
  color: #4d4d4c;
  margin: 5px;
}

.title {
  font-weight: 100;
  font-size: 32px;
  text-align: center;
}

.small-text {
  font-size: 12px;
}

.grey-text {
  color: #4d4d4c;
}

.blue {
  color: #35549a;
}

.flex-center {
  display: flex;
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

.grow {
  flex-grow: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.half-width {
  max-width: 50%;
}

.third-width {
  max-width: 50%;
}

.heading {
  justify-content: space-around;
  background-color: #d1e0e0;
  padding: 32px;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.divider {
  border-left: 2px solid #4d4d4c;
  height: 100px;
}

.blue-bottom-border {
  border-bottom: 1px solid #35549a;
}

ul {
  list-style-image: url(./icons/icons8-circle.svg);
}

.margin-bottom {
  margin-bottom: 2rem;
}

/* css for list bullets from stack overflow */
ul.experience li {
  position: relative; /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/
  margin-bottom: 0; /* This overrides previously specified margin-bottom */
  /* padding-bottom: 2.5em; */
}

ul.experience li:after {
  /* bullets */
  background-image: url(./icons/circle-icon.png);
  position: absolute;
  left: -21px; /*adjust manually*/
  top: 0px;
  background-size: 5px 5px;
  display: inline-block;
  width: 5px;
  height: 5px;
}

ul.experience li:before {
  /* lines */
  content: "";
  position: absolute;
  left: -11px; /* adjust manually */
  border-left: 1px solid black;
  height: 100%;
  width: 1px;
}

ul.experience li:first-child:before {
  /* first li's line */
  top: 14px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experience li:last-child:before {
  /* last li's line */
  height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}
